.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: auto;
  background-color: black;
  color: #fff;
  box-shadow: 0 0 15px 15px lightgrey;
}

.about-info p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  letter-spacing: 0.5px;
  font-size: 15px;
}
@media screen and (min-width: 600px) {
  .about-info p {
    width: 500px;
  }
}
